body{
    background: url(1.mp4) repeat ;

}
.menu
{
    background: url(Cream-and-Gold-3D-Geometric-Pattern-Wallpaper-A4-25P53-Sold-in-Nigeria-by-DecorCity.jpg) repeat ;
    background:url();
    width: 300px;
    height: 500px;
    position:  absolute;
    border-radius: 10px;
    border: 3px solid white;
}
.is_overlay{ display: block; width: 100%; height: 100%; }
#trailer {
position: fixed;
top: 0; right: 0; bottom: 0; left: 0;
overflow: hidden;
}

#trailer > video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}