body{
    
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0kjHIH6/animation-of-1980s-old-arcade-super-mario-bros-clouds-background_vywb1uvex__F0000.png);
    background-size: 100%
}
.b{
    transform: scale(1.3,1.3);
    position: absolute; top: 600px; left:5% ;
    float: left;
    
}
.speedrun{ font: 80px arial;
    color: pink;
    height: 0px;
    width: 310px;
    margin: 0 auto;
    
    
}
.gif{
    float: left;
}
.cent{
    margin: 0 auto;
}
.a{
    width: 50%; height: 4500px; background: gray;
    margin: 0 auto;padding: 0;
    margin-top: 200px;
    padding: 40px;
    font: 20px arial;
    color: white;
line-height: 1.5;    
    
    


}
.q{
    transform: scale(1.3,1.3);
    position: absolute; top: 1800px; left:10%;
    float: left;

}
.pitch{
    transform: scale(1.3,1.3);
    position: absolute; top: 1000px; right:3%;
    float: right;

}
.ff{
    font: 50px arial;
}
.toad{
    transform: scale(1.3,1.3);
    position: absolute; top: 2000px; right:3%;
    float: right;
}
.luidge{
    transform: scale(1.3,1.3);
    position: absolute; top: 2500px; right:10%;
    float: right;
}
.bowser{
    transform: scale(1.3,1.3);
    position: absolute; top: 3200px; left:1%;
    float: left;
}
.goomba1{
    transform: scale(1.3,1.3);
    position: absolute; top: 4600px; left:1%;
    float: right;

}
.goomba2{
    transform: scale(1.3,1.3);
    position: absolute; top: 4600px; right:1%;
    float: left;

}
