*
{
    margin: 0 auto;
    padding: 0 auto;
    outline: none
}
body
{
    width:100%;
    
}

/*Babymetal*/
.head1
{
    height: 500px;
    background-image: url(../J-Rock/Jpg/babymetal.jpg);
    background-size: 1600px;
}

.headline1
{
    font-size: 100px;
    padding: 400px 0px 0px 500px;
    color: #D3D3D3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hose1
{
    padding: 0px 0px 0px 110px
}

.lol1
{
    font-size: 18px;
    padding: 60px 0px 0px 40px;
}

.content1
{
    height: 100px;
    background: rgb(202, 35, 35);
    padding-bottom:  100px;
}




.history1
{
    height: 800px;
    background:  white;
    padding-left: 200px;
    padding-right: 200px;

}

.historyc1
{
    padding: 20px 40px 0px 40px;
    font-size: 30px;
}
h2
{
    padding: 0px 0px 10px 0px;
}




/*Ikimono-Gakari*/
.head2
{
    margin-top: 600px;
    height: 500px;
    background-image: url(../j-Rock/Jpg/ikimono-gakari.jpg);
    background-size: 1600px;
}

.headline2
{
    font-size: 100px;
    padding: 400px 0px 0px 500px;
    padding-top:20px;
    color:#1B1B1B ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hose2
{
    padding: 0px 0px 0px 110px
}

.lol2
{
    font-size: 18px;
    padding: 60px 0px 0px 40px;
}

.content2
{
    height: 100px;
    background: rgb(202, 35, 35);
    padding-bottom:  100px;
}

.history2
{
    height: 800px;
    background: rgb(255, 255, 255);
    padding-left: 200px;
    padding-right: 200px;

}

.historyc2
{
    padding: 20px 40px 0px 40px;
    font-size: 30px;
}
h2
{
    padding: 0px 0px 10px 0px;
}

/*Frederic*/
.head3
{
    margin-top: 800px;
    height: 700px;
    background-image: url(../j-Rock/Jpg/frederic.jpg);
    background-size: 1600px;
}

.headline3
{
    font-size: 150px;
    padding: 400px 0px 0px 500px;
    padding-top: 90px;
    color: #424163;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hose3
{
    padding: 0px 0px 0px 110px
}

.lol3
{
    font-size: 18px;
    padding: 60px 0px 0px 40px;
}

.content3
{
    height: 100px;
    background: rgb(202, 35, 35);
    padding-bottom:  100px;
}

.history3
{
    height: 800px;
    background: rgb(255, 255, 255);
    padding-left: 200px;
    padding-right: 200px;

}

.historyc3
{
    padding: 20px 40px 0px 40px;
    font-size: 30px;
}
h2
{
    padding: 0px 0px 10px 0px;
}


/*Daoko*/
.head4
{
    margin-top: 270px;
    height: 700px;
    background-image: url(../J-Rock/Jpg/Daoko.jpg);
    background-size: 1600px;
}

.headline4
{
    font-size: 100px;
    padding: 400px 0px 0px 500px;
    color:#8B262E ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hose4
{
    padding: 0px 0px 0px 110px
}

.lol4
{
    font-size: 18px;
    padding: 60px 0px 0px 40px;
}

.content4
{
    height: 100px;
    background: rgb(202, 35, 35);
    padding-bottom:  100px;
}

.history4
{
    height: 800px;
    background: rgb(255, 255, 255);
    padding-left: 200px;
    padding-right: 200px;

}

.historyc4
{
    padding: 20px 40px 0px 40px;
    font-size: 30px;
}
h2
{
    padding: 0px 0px 10px 0px;
}


/*Majiko*/
.head5
{
    margin-top: 240px;
    height: 500px;
    background-image: url(../J-Rock/Jpg/majiko.jpg);
    background-size: 1600px;
}

.headline5
{
    font-size: 100px;
    padding: 400px 0px 0px 300px;
    padding-top: 200px;
    color:#BD596B ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hose5
{
    padding: 0px 0px 0px 110px
}

.lol5
{
    font-size: 18px;
    padding: 60px 0px 0px 40px;
}

.content5
{
    height: 100px;
    background: rgb(202, 35, 35);
    padding-bottom:  100px;
}

.history5
{
    height: 800px;
    background: rgb(255, 255, 255);
    padding-left: 200px;
    padding-right: 200px;

}

.historyc5
{
    padding: 20px 40px 0px 40px;
    font-size: 30px;
}
h2
{
    padding: 0px 0px 10px 0px;
}



.menu1
{
    width: 100%;
    height: 51px;
    background: #808080;
}

.menu
{
    position: fixed;
    width: 100%;
    height: 51px;
    background: #808080;
    z-index: 1000;
    display: flex;
}

ul
{
    display: flex;
    list-style: none;
}

ul a
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    display: block;
    background: #808080;
    align-items: center;
    padding: 15px 80px 15px 80px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover
{
    background: white;
    color: #808080;
    box-shadow: 1px 5px 10px -5px black;
    transition: 0.3s;
}