
@keyframes Miku{
    0%{}
    50%{  left:75%;}
    100%{}
}
@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}





i {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    background: white;
    animation: move 5s infinite linear ;
    
    
    
  }
  
i:nth-child(2) {animation-delay:.1s;}
i:nth-child(3) {animation-delay:.2s;}
i:nth-child(4) {animation-delay:.3s;}
i:nth-child(5) {animation-delay:.4s;}
i:nth-child(6) {animation-delay:.5s;}
i:nth-child(7) {animation-delay:.6s;}
i:nth-child(8) {animation-delay:.7s;}
i:nth-child(9) {animation-delay:.8s;}
i:nth-child(10){animation-delay:.9s;}
  
  @keyframes move {
    from {
      left:0 ;
      top:20px;
    }
    5%{margin-top: 40px}
    10%{margin-top: 0px}
    15%{margin-top: 40px}
    20%{margin-top: 0px}
    25%{
        margin-top: 40px;
    }
    30%{margin-top: 0px}
    35%{margin-top: 40px}
    40%{margin-top: 0px}
    45%{margin-top: 40px}
    50%{ margin-top: 0px}
    55%{margin-top: 40px}
    60%{margin-top: 0px}
    65%{margin-top: 40px}
    70%{margin-top: 0px}
          
    75%{
        margin-top: 40px;
    }
    80%{margin-top: 0px}
    85%{margin-top: 40px}
    90%{margin-top: 0px}
    95%{margin-top: 40px}
    to { 
      left: 100%  ; 
      top:20px;
    } 

    
  }
  .block1{
      width: 103%;height: 10px; background: silver;
     
  }
  .block2{
    width: 103%;height: 10px; background: silver;
   
   
}
.block3{
    width: 103%;height: 100px; background: rgb(59, 54, 54);
    
    
}
.block4{
    width: 600px;height: 600px; background: rgb(37, 25, 25);
    margin: 0 auto;padding: 0;
    margin-top: 10%;
    border: 20px solid rgb(180, 192, 207);
    padding: 5px;
}
.sh{
    margin-left: 0%;

    padding: 3px;
}
.a{
    transform: scale(0.2,0.2);
    position: absolute; top: 52%; left:-15%;
    
    animation: Miku 5s infinite ease-in-out;

}
p{
    color: red; font-size: 30px;
}
.u{
    margin-top: 10%;
}
ul.pt{
    display: inline;
}
.t{
    position: absolute;
}
.kat{
    width: 51% ;
    height: 40%;
    margin-left: 61%;
    margin-top: 0;
    
    
}
.kat1{
    width: 11% ;
    height: 18%;
    margin-left: 0%;
    margin-top: 0%;
    
    
}


#asd{
    position: fixed;z-index: 2;
    width: 11% ;
    height: 18%;
    margin-left: -1%;
    margin-top: -39%;
opacity: 0;
transition: 3s;
}
#asd:hover{
    opacity: 1;
    transition: 3s;
}

    

 


  
      




    

    







  
  body
  
   { 
background-image: url(33.png);
background-size: 100%; }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
   
  }