<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REMOTE_ADDR}" pattern="46.251.212.207" ignoreCase="false" negate="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403"
                                                    subStatusCode="0"
                                                    statusReason="Forbidden"
                                                    statusDescription="Forbidden" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>