body {
	font-family: 'Russo One', sans-serif;
	margin: 0;
	padding: 0;
}
.wrapper{
	margin: 0 auto;
	padding: 0 10px 0 10px;
	width: 1000px;
	height: 900px;
	background: #ccc;
	-webkit-box-shadow: 0px 15px 29px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 15px 29px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 15px 29px 4px rgba(0,0,0,0.75);
}
.header{
	width: 100%;
	height: 100px;
	background:#0090FF;
}
.header ul{
	margin: 0;
	text-align: center;
}
li{
	list-style-type: none;
	margin: 2% 2% 0 0;
}
a{
	text-decoration: none;
	color: #000;
	padding: 15px;
}
ul li{
	display: inline-block;

}
a:hover{
	color: #fff;
}
.slider {
	width: 500px;
	height: 300px;
	margin: auto;
	top: 20px;
	left: -220px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}
.slide {
	width: 500px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
}
@keyframes slide {
	from {
		top: 0;
		left: 0;
	}
	1 { transform: translate(0px, 0px); }
	2 { transform: translate(-500px, 0); }
	3 { transform: translate(-500px, 300px); }
	4 { transform: translate(500px, 300px); }
	5 { transform: translate(500px, 0); }
	to  { transform: (0px, 0px);  }
}
@keyframes slide {
 from {
  top: 0;
  left: 0;
 }
 12.5% {
  transform: translate(0px, 0px);
 }
 25% {
  transform: translate(-500px, 0);
 }
 36% {
  transform: translate(-500px, 300px);
 }
 37% {
  transform: translate(500px, 300px);
 }
 87.5% {
  transform: translate(500px, 0);
  
 }
 to {
  transform: (0px, 0px);
 }
}
.slide1 { 
 background: url(../img/1.jpg);
 animation-delay: 7.5s;
}
.slide2 { 
 background: url(../img/2.jpg);
 animation-delay: 5s;
}
.slide3 { 
 background: url(../img/3.jpg);
 animation-delay: 2.5s;
}
.slide4 { 
 background: url(../img/4.png);
 animation-delay: 0s;
}
.slide {
	width: 500px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	animation-name: slide;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.sale {
	position: relative;
	left: 580px;
	top: -280px;
}
.footer{
	width: 100%;
	height: 250px;
	background:#0090FF;
	text-align: center;
}
.footer p{
	margin: 0;
}
.content-block{
	height: 350px;
}
.element1 h3{
	margin: 10px;
}
