* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    font-family: "Segoe UI", "Microsoft YaHei", Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: no-repeat bottom fixed;
    background-size: cover;
}

.selectable {
    transition: background-color .2s;
}

.selectable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.selectable:active {
    background-color: rgba(0, 0, 0, 0.2);
}

#ui, #set-sub, #sub-empty, #subtitle, #console, #fps {
    display: none;
}

#ui, #cover, #gl-canvas, #subtitle, #console, #fps, button {
    position: absolute;
}

#ui {
    max-height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    box-shadow: 0 0 2px #BBB;
    font-size: 16px;
}

#set-sub {
    width: 300px;
    margin: 8px;
}

#sub-list {
    list-style: none;
    margin-top: 8px;
}

#sub-list li {
    padding: 8px 4px;
}

#sub-list li h3 {
    margin-bottom: 4px;
}

#cover {
    z-index: -9;
    width: 100%;
    height: 100%;
}

#gl-canvas {
    z-index: 0;
    bottom: 0;
    right: 0;
    /*background: rgba(255, 255, 255, 0.2);*/
    pointer-events: none;
}


button {
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
}

button.active {
    background: linear-gradient(to bottom, #3498db, #2980b9);
    border: 1px solid #2980b9;
}

button.inactive {
    background: linear-gradient(to bottom, #e74c3c, #c0392b);
    border: 1px solid #c0392b;
}

#subtitle {
    z-index: 9;
    margin: 2.5vh 0;
    max-width: 50%;
    padding: 0.8vh;
    border-radius: 2px;
    border: 1px solid white;
    background: #FFE5F7;
    opacity: 0;
    font: 1.25vw "MS Gothic";
    color: white;
}

#console {
    z-index: 9;
    font-family: Consolas, sans-serif;
    font-weight: normal;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

#console:hover {
    font-weight: bold;
}

#fps {
    z-index: 9;
    right: 0;
    color: white;
    text-shadow: 0 0 2px #555;
}