body{
    color: white;
}
.a{
    background-image: url(C:/Users/Бакай/Desktop/file/img/Back.jpg);
    color: bisque;
    height: 100%;
}
.b{
    float: right;
}
.nav{
    padding: 0;
    margin: 0;
    display: block;
    margin-right: 210px;
}
.nav li {
    float: left;
    display: block;
    margin-right: 70px;
}
.nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.menu{
    background:black;
width:12%;
height:745px;
    margin-top: 100px;
    margin-right: 1150 px;
    outline: 2px solid black;
    border: 3px solid white;
    border-radius: 10px;
}
.x{
    padding: 0;
    margin: 0;
    display: block;
}
.x li{
    display: block;
    margin-top: 18px;
}
.x li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
}
.video{
    overflow:hidden;
    width: 1180px;
    height:750px;
       margin-top: -850px;
       margin-left: 280px;
}
.image{
    overflow:hidden;
    width: 1180px;
    height:750px;
       margin-top: 0px;
       margin-left: 190px;
}
.text{
    margin-left: 150px;
    font-size: 20px;
}
.nav li a:hover {
    background: greenyellow;
    color: blueviolet;
    box-shadow: 1px 5px 10px -5px black;
    transition: 0.3s;
}
.x li a:hover{
    box-shadow: 1px 5px 10px -5px white;
    transition: 0.3s;
}