








@keyframes move {
    from {
       
      top:-10%;
    }
    
    to { 
       
      top:100%;
      
     } 
}








i {
    position: fixed;
    margin-left: -20px;
    width: 102% ;
    height: 160px ;
    
    
    background: rgb(255, 0, 234);
    animation: move 5s infinite linear ;
}

    body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    background-repeat: repeat;
    z-index: 2;
  }



.d{
    margin: cover cover;
    color: red;
    position: absolute;
    top: 45%;
    left: 35%;
    z-index: 3;
    font: 80px/1 'Lobster', cursive;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 80px;
    line-height: 1;
    font-family: Lobster, cursive;
}
.e{
    width: 96%;
    max-width: 500px;
    margin: 0 auto;
    position: fixed;
    top: 0 auto;
    left: 0 auto;
    
    
    z-index: 3;
    
   
    

}
img{
    width: 100%;
    height: auto;
}


@media all and (orientation:portrait) {

}












i:nth-child(2) {animation-delay:.5s;background: red}
i:nth-child(3) {animation-delay:1s;background:orange}
i:nth-child(4) {animation-delay:1.5s;background:yellow}
i:nth-child(5) {animation-delay:2s;background:green}
i:nth-child(6) {animation-delay:2.5s;background:blue}
i:nth-child(7) {animation-delay:3s;background:purple}
i:nth-child(8) {animation-delay:3.5s;background:pink}
i:nth-child(9) {animation-delay:4s;background:brown}
i:nth-child(10){animation-delay:4.5s;background:aqua}