body{
    color: aqua;
    background: black;
    
}
.cartinki ul,
.cartinki li{
    margin: 0px;
    padding: 0;
    list-style-type: none;

}
.cartinki li{
    display: inline-block;
    width: 49%;
    position: relative;
}
.cartinki img{
    max-width: 100%;
    display: block;
}
.descr{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-align: center;
    opacity: 0;
    transition: all .25s;
    
     
}
.cartinki li:hover .descr{
    opacity: 1;
}