body{
	margin: 0;
	background: url(http://buyiglikes.com/wp-content/uploads/2017/09/buy-instagram-likes-instantly.jpg);
}
.wrapper{
	margin: 0 auto;
	width: 1000px;
	height: 940px;
}
.pr1{
	height: 300px;
}
.pr1 img{
	float: left;
}
.pr1 h2{
	float: left;
	margin: 10px;
}
ul{
	float: left;
	text-align: center;
}
ul li{
	list-style-type: none;
	display: inline-block;
	margin: 50px 50px 0 0;
}