body{
    color: white;
    background: black;
}
.a{
    background-image: url(C:/Users/Бакай/Desktop/file/img/Back.jpg);
    color: bisque;
    height: 100%;
}
.b{
    float: right;
    position: sticky;
}
.nav{
  
  position: sticky;
  margin: 0 auto;
 margin-left: 27%;
 
}
.nav li {
    float: left;
    display: block;
    margin-right: 70px;
}
.nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.menu{
    background:black;
width:200px;
height:700px;
    margin-top: 100px;
    margin-right: 0 px;
    outline: 2px solid black;
    border: 3px solid white;
    border-radius: 10px;
    position: absolute;top:13%;
    
    
}
.x{
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
}
.x li{
    display: block;
    margin-top: 18px;
    
}
.x li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    
    
   

       
}
.image{
    overflow:hidden;
    width: 1180px;
    height:750px;
    margin: 0 auto;
    
}
.text{
    margin-left: 150px;
    font-size: 20px;
}
.nav li a:hover {
    background: greenyellow;
    color: blueviolet;
    box-shadow: 1px 5px 10px -5px black;
    transition: 0.3s;
}
.x li a:hover{
    box-shadow: 1px 5px 10px -5px white;
    transition: 0.3s;
}